
	.highlight {
		position: relative;
		z-index: 1;

		&:after {
			content: "";
			position: absolute;
			top: 20%;
			left: -6px;
			width: calc(100% + 12px);
			height: 60%;
			background-color: #00c8ff;
			z-index: -1;
		}

		&__billboard {
			position: fixed;
			top: 0;
			left: 0;
			display: none;
			z-index: 9999;
			pointer-events: none;

			&.hello {
				display: block;
			}

			&:before {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-color: #00c8ff;
				mix-blend-mode: multiply;
			}

			img {
				display: block;
			}
		}
	}